.inspiration
{
    padding: 80px;
    font-family: 'airbnb-light';
    height: 270px;
}

.inspiration-title
{
    font-size: 25px;
}

.inspiration-headers-container
{
    display: flex;
    flex-direction: row;
}

.inspiration-headers
{
    flex: 1;
    margin-top: 20px;
    cursor: pointer;
}

.inspiration-headers button:hover
{
    background-color: rgb(247,247,247);
    border-radius: 10px;
}

.inspiration-headers button
{
    margin-bottom: 3px;
    margin-left: -10px;
    margin-right: 20px;
    color: #717171;
    background-color: transparent;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
}

.inspiration-headers-active
{
    color: #222222 ! important;
    border-bottom: 2px solid #ff7878 !important;
    outline-offset: unset;
}

.inspiration-column
{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.inspiration-column-item
{
    flex: 1;
}

.inspiration-column-item b
{
    font-size: 14px;
    color: #222222;
    cursor: pointer;
}

.inspiration-column-item p
{
    font-size: 14px;
     color: #717171;
     margin-top: 0px;
    cursor: pointer;
    padding: 5px 0px 10px 0px;
}

.inspiration-line
{
    border-bottom: 2px solid lightgray;
    margin-top: -3px;
}
