.listing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; 
  padding: 0 20px; 
  width: 100%; 
  max-width: 1200px; 
  box-sizing: border-box; 
  background-color: #fff;
}

h1{
  text-align: left;
  margin-top: 25px;
  font-size: 1.5rem;
  padding: 0 20px 0 100px;
}

.reviews {
  display: flex;
  gap: 41x;
  padding: 20px 0 0 100px;
  align-items: center;
  justify-content: space-between;
}

.rating {
  display: flex;
  gap: 5px;
  padding: 0 100px 0 0;
}

.share-save {
  display: flex;
  align-items: flex-end;
  padding: 0px 20px 0px 0px;
  margin: 0px 80px 10px 75px;
  gap: 5px;
  text-decoration: underline;
}

.image-grid {
  display: grid;
  grid-template-columns: 800px 450px 450px;
  grid-template-rows: 350px 350px;
  grid-gap: 10px;
  width: 100%;
  padding: 0 80px 0 95px;
  border-radius: 20px;  
}

.item {
  border-radius: 20px;
}
.item img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
}

.item1 {
  grid-row: 1/3;
}
.item2 {
  grid-column: 2/4;
}

section {
  display: flex;
  width: 75%;
  padding: 55px 100px;
  flex-direction: column;
  background-color: #fff;
}


.listing-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 50px 100px 0 100px;
  margin-bottom: -25px 0px;
  background-color: #fff;
}

.listing-info-top{
  display: flex;
  flex-direction: column;
}

.listing-info2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 100px;
  gap: 10px;
}


.listing-info2-title{
  display: flex;
  align-items: flex-start;
}

.listing-info2-title span {
  display: block;
  margin-left: 10px; 
}
.listing-info2-text {
  color: gray;
}
.listing-place {
  padding: -85px 10px 0px 0px;
  marign: 25px 10px 0px 0px;
}
.room-info {
  display: flex;
  gap: 2px;
  color: #484848;
  padding: -45px 100px 20px 0;
}

strong {
  color: #000;
}
.user-info {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.user-info-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;;
}

.description {
  padding: 25px 100px ;
}

a {
  color: #000;
  gap: 2px;
  padding: 15px 10px ;
}
  
.icon {
  font-size: 1.5rem;
}

.sleep  img{
  width: 310px;
  height: 212px;
  border-radius: 16px;
}

.offers {
  display: flex;
  flex-flow:  nowrap;
  gap: 10px;
}

.amenities > span{
  width: 230px;
  display: block;
  padding: 10px; 
}

.amenities> span {
  display: flex;
  
}

.icons-amenities   {
  margin-right: 4px
}

.show button {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #000;
}

.date-range {
  display: flex;
  flex-direction: column;
}