.header-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  background-color: white; /* Set your desired background color */
  transition: background-color 0.3s ease; /* Smooth transition for background */
  z-index: 10; /* Ensure it stays above other elements */
}

.header-logo {
  height: 2rem;
}

.profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
}

.profile-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.35rem;
  border: 1px solid var(--grey);
  border-radius: 3rem;
  padding: 0.35rem;
  color: var(--font-grey);
}


.button-container > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
  border: 1px solid var(--grey);
  color: #000;

}

hr {
  border: 1px solid var(--grey);
}
.img-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 400px;
}


.img-content > img {
  width: 200;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.update {
  border-radius: 5px;
  background-color: #6900fa;
  text-transform: inherit;
  color: #fff;
  height: 30px;
  margin: 5px;
  width: 100%;
} 

.delete{
  border-radius: 5px;
  background-color: #ff385c;
  text-transform: inherit;
  color: #fff;
  height: 30px;
  margin: 5px;
  width: 100%;
}
.hotel-list {
  padding: 35px 0px;
  color: var(--font-grey);
  font-size: 1.2rem;
}

table {
  padding: 10px 0px 0px 20px !important;
  width: 80%;
  border-collapse: collapse;
  border: var(--grey);
}

th, td {
  height: 50px;
  text-align: left;
  padding: 0px 10px;
  font-size: 1.2rem;
  font-weight: 400;
}

.add-listing-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.add-listing-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: -50px;
}

.add-listing-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.inputs {
  flex: 2; 
  margin-right: 20px; 
}

.amenities {
  flex: 1; 
}

.upload-description {
  display: flex;
  flex-direction: column;
  margin-top: 20px; 
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

.add-listing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}

.add-listing button{
  border-radius: 15px;
  background-color: #6900fa;
  border: none;
  outline: none;
  height: 40px;
  margin: 10px 0px 10px 0px;
  padding: 10px 20px 10px 20px;
}

.icons-add {
  color: var(--white);
  text-align: center;
  padding: 0px 10px 10px;
}

.add-listing button:hover {
  background-color: var(--theme);
}

.inputs {
  display: flex;
  background-color: var(--theme);
  width: 250px;
  border: 1px solid var(--grey);
  padding: 10px;
  height: 30px;
  justify-content: space-between;
  border-radius: 15px;
  margin: 10px;
}

.inputs select {
  border: none;
  color: var(--white);
  width: 97%;
  padding: 0px 5px 5px 20px;
  font-size: 1rem;
}

.inputs textarea::placeholder {
  color: var(--white);
}

.inputs .upload-text input {
  height: 100px;
  padding: 58px 5px 5px 0px;

}

.inputs textarea {
  border: none;
  outline: none;
  padding: 20px;
  background:transparent;
}

.inputs textarea::placeholder {
  color: var(--white);
  font-size: 1rem;
  padding: 0px 5px 0px 15px;
  margin: 0;
  text-align: left;
}

.add-listing input {
  border-radius: 15px;
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  background:transparent;
}

::placeholder {
  color: var(--white);
  font-size: 1rem;
  padding: 0 10px 10px;
}

.icons {
  color: var(--white);
  padding: 0 10px 10px;
}

.amenities-container {
  flex: 1; 
}
.ameneties {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.ameneties label{
  margin-right: 0 10px 0 10px;
  padding: 10px  10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ameneties input[type="checkbox"] {
  margin-right: 2px;
}

.upload-text {
  color: var(--white);
  font-size: 1rem;
  padding: 10px 15px;
}

.save-button {
  border-radius: 15px;
  color: #fff;
  background-color: #6900fa;
  border: none;
  height: 40px;
  width: 70%; 
  margin-top: 20px; 
}

.save-button:hover {
  background-color: var(--theme); 
}

.file-input-container {
  position: relative;
  display: inline-block;
}

.file-input {
  display: none; 
}

.file-input-label {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #6900fa; 
  color: white; 
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 238px; 
}

.file-input-label:hover {
  background-color: var(--theme); 
}

.upload-text {
  flex-grow: 1; 
}

.upload-icon-container {
  display: flex;
  align-items: center; 
}
