.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  background-color: #000; 
  transition: background-color 0.3s ease;
  z-index: 10; 
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.9); 
}

.header-logo {
  height: 5rem;
  padding: 0.5rem 0 0 50px;

}

.header-text {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 0 150px;
  color: #fff;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 1rem;
  border: 1px solid var(--grey);
  border-radius: 2rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.search-bar:hover {
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%), 0 4px 12px rgb(0 0 0 / 10%);
  transition: all 0.2s;
  cursor: pointer;
}

.search-bar-text {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--font-grey);
  border-right: 1px solid var(--grey);
  padding-right: 0.5rem;
}

.search-bar-text2 {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--font-grey);
  padding-right: 0.5rem;
}

.search-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme);
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
}

.profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
  color: #fff;
  padding-right: 3rem;
}

.become-a-host {
  padding: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.lang-icon {
  marign: 0 0 0 125px;
  padidng: 0 0 0 125px;
}

.become-a-host:hover {
  background-color: grey;
}

.profile-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.35rem;
  border: 1px solid #333;
  border-radius: 3rem;
  padding: 0.35rem;
  color: #333;
  background: #fff;
  border: 1px solid #333;

}

.header.scrolled .become-a-host {
  color: black; 
}

.header .become-a-host.result-page {
  color: black; 
}

.profile-div.result-page {
  border: 1px solid gray; 
}

.language-icon.result-page .lang-icon {
  color: black; 
}

.profile-div {
  border: 1px solid gray; 
  display: flex; 
  align-items: center;
}

.header.scrolled .lang-icon {
  color: black; 
}

.header.scrolled .header-logo {
  filter: brightness(30) saturate(10%) invert(%) sepia(91%) saturate(573%) hue-rotate(346deg) brightness(99%) contrast(92%);
}


.header-bottom{
  background: #fff;
  display: flex;
  width: 850px;
  border-radius: 32px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  height: 66px;
  position: relative;
  margin: 25px auto 0px auto; 
}

.header-search {
  width: 284px;
  height: 33px;
  padding: 14px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search-where > div {
  padding-bottom: 2px;
}

.search-input select{
  background: transparent;
  padding:0;
  border: none;
  outline: none;
  width: 150px;
  color: #6a6a6a;
}

.border-divider {
  border-right: 1px solid #ddd;
  height: 32px;
  margin-top: -3px;
}

.search-checkin > div {
  padding: 2px;
  margin: 0.3rem 0.9rem;
  width: 140px;
}

.search-checkin {
  display: block;
  width: 100%;
  margin: 0.3rem 0.9rem;
  padding-top: 0.9rem;
  align: center;
}

.search-button {
  height: 38px;
  margin-top: 0px;
  font-size: 14px;
  color: #6a6a6a;
  
}

.search-checkout > div {
  padding: 2px;
  margin: 0.3rem 0.9rem;
  width: 140px;
}

.search-checkout {
  display: block;
  width: 100%;
  padding-top: 0.9rem;
}


.search-who > div {
  padding: 2px;
  margin: 0.3rem 0.9rem;
  width: 140px;
}

.search-who {
  display: block;
  width: 100%;
  margin: 0.3rem 0.9rem;
  padding-top: 0.9rem;
}

.search  .search-icon  {
font-size: 16px;
width: 30px;  
height: 30px;
border-radius: 30px;
border: none;
background: rgb(255, 56, 92);
outline: none;
color: white;
cursor: pointer;
padding: 0.6rem;
margin-left: 2rem;
margin-top: 0.88rem;
margin-bottom: 0.6rem;

}


.date-picker {
border: none;
ouline: none;
width: 70%;

}
.date-picker::placeholder {
  color: grey;
  font-size: 16px;
}
.date-picker:focus {
outline: none;
}

.search-box {
  margin: 10px auto 0px auto; 
}

.border-divider {
  border-bottom: 1px solid var(--grey);
}

.search-bar-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 0.5rem; 
  padding: 0.35rem 1rem; 
  margin-left: 150px;
}

.guest-popup {
  position: absolute; 
  top: 100%;
  right: -350px; 
  margin-top: 2px; 
  border-radius: 10px;
}

.guest-selector {
  background-color: #fff; 
  padding: 16px; 
  border-radius: 10px;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.guest-button {
  background-color: #ff385c; 
  border: none; 
  border-radius: 50px; 
  padding: 0px; 
  color: #fff;
  cursor: pointer; 
  transition: background-color 0.3s; 
}



.guest-input {
  width: 40px;
  text-align: center; 
  border: 1px solid #ccc; 
  border: none; 
  background-color: #fff; 
}

.login-modal {
  position: relative;
  background-color: transparent;
  padding: 20px;
  width: 450px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 21;
}

.login-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: red !important;
}
