.card {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.07);
}

.card > img {
  object-fit: fill;
  min-height: 200px;
  min-width: 300px;
  width: 100%;
}

.card-info {
  margin: -9px 0 0 0;
  border-radius: 10px;
  padding: 0px;
}

.card-info > p {
  font-size: 28px;
  font-weight: 400;
}

.card-info > h4 {
  font-size: 14px;
  font-weight: 300;
  padding: 0px 0 70px 25px;
}